# 敵対的サンプルについての調査


# 準備

In [27]:
import pandas as pd
import numpy as np

In [28]:
df_orig = pd.read_csv('data/df_orig.csv')
df_orig.head()

,Unnamed: 0,checking_status,duration,credit_amount,savings_status,employment,installment_commitment,residence_since,age,existing_credits,num_dependents,own_telephone,foreign_worker,target
0,0,0.0,6.0,1169.0,4.0,4.0,4.0,4.0,67.0,2.0,1.0,1.0,0.0,1.0
1,1,1.0,48.0,5951.0,0.0,2.0,2.0,2.0,22.0,1.0,1.0,0.0,0.0,0.0
2,2,3.0,12.0,2096.0,0.0,3.0,2.0,3.0,49.0,1.0,2.0,0.0,0.0,1.0
3,3,0.0,42.0,7882.0,0.0,3.0,2.0,4.0,45.0,1.0,2.0,0.0,0.0,1.0
4,4,0.0,24.0,4870.0,0.0,2.0,3.0,4.0,53.0,2.0,2.0,0.0,0.0,0.0

In [29]:
# データフレームについて
print(df_orig.shape)
print(df_orig.columns)
print(df_orig.dtypes)

(1000, 14)
Index(['Unnamed: 0', 'checking_status', 'duration', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents',
       'own_telephone', 'foreign_worker', 'target'],
      dtype='object')
Unnamed: 0                  int64
checking_status           float64
duration                  float64
credit_amount             float64
savings_status            float64
employment                float64
installment_commitment    float64
residence_since           float64
age                       float64
existing_credits          float64
num_dependents            float64
own_telephone             float64
foreign_worker            float64
target                    float64
dtype: object

In [30]:
df_lowprofool = pd.read_csv("data/lowprofool.csv")
df_lowprofool.head()

,Unnamed: 0,checking_status,duration,credit_amount,savings_status,employment,installment_commitment,residence_since,age,existing_credits,num_dependents,own_telephone,foreign_worker,orig_pred,adv_pred,iters
0,685,0.999634,0.836907,0.355575,1.000000,0.463949,0.969757,1.000000,0.254585,0.240786,0.821286,0.988269,0.000000,1.0,0.0,4.0
1,727,0.008238,0.173175,0.099826,0.000000,0.537610,1.000000,1.000000,0.121531,0.096008,0.000000,0.262709,0.000000,0.0,1.0,3.0
2,30,0.331659,0.216172,0.096737,0.753959,0.213271,0.623141,0.577431,0.292616,0.170496,0.168681,1.000000,0.000000,1.0,0.0,6.0
3,376,1.000000,0.175577,0.133919,0.000000,0.003863,0.331210,0.666983,0.293174,0.323199,0.000000,0.000000,0.000000,0.0,1.0,0.0
4,66,0.999659,0.123107,0.101007,0.000000,0.255929,0.350509,0.511435,0.176497,0.065481,0.153819,0.000000,0.006703,1.0,0.0,2.0

In [31]:
# データフレームについて
print(df_lowprofool.shape)
print(df_lowprofool.columns)
print(df_lowprofool.dtypes)

(10, 16)
Index(['Unnamed: 0', 'checking_status', 'duration', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents',
       'own_telephone', 'foreign_worker', 'orig_pred', 'adv_pred', 'iters'],
      dtype='object')
Unnamed: 0                  int64
checking_status           float64
duration                  float64
credit_amount             float64
savings_status            float64
employment                float64
installment_commitment    float64
residence_since           float64
age                       float64
existing_credits          float64
num_dependents            float64
own_telephone             float64
foreign_worker            float64
orig_pred                 float64
adv_pred                  float64
iters                     float64
dtype: object

In [32]:
df_deepfool = pd.read_csv("data/deepfool.csv")
df_deepfool.head()

,Unnamed: 0,checking_status,duration,credit_amount,savings_status,employment,installment_commitment,residence_since,age,existing_credits,num_dependents,own_telephone,foreign_worker,orig_pred,adv_pred,iters
0,685,0.975125,0.879393,0.375475,1.000000,0.446052,0.986780,0.981940,0.262740,0.038705,0.996035,0.991665,0.000000,1.0,0.0,99.0
1,727,0.057132,0.155961,0.115707,0.004792,0.500238,0.995574,1.000000,0.182435,0.298014,0.000000,0.034131,0.026440,0.0,1.0,127.0
2,30,0.319922,0.260838,0.153902,0.747445,0.222987,0.622030,0.633288,0.296226,0.050682,0.034927,1.000000,0.000000,1.0,0.0,129.0
3,376,1.000000,0.179333,0.132749,0.000000,0.003833,0.331744,0.666956,0.292002,0.324104,0.000000,0.000000,0.000000,0.0,1.0,44.0
4,66,0.982793,0.142387,0.090573,0.000000,0.272835,0.344190,0.349125,0.163118,0.002278,0.011979,0.000000,0.024286,1.0,0.0,65.0

In [33]:
# データフレームについて
print(df_deepfool.shape)
print(df_deepfool.columns)
print(df_deepfool.dtypes)

(10, 16)
Index(['Unnamed: 0', 'checking_status', 'duration', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents',
       'own_telephone', 'foreign_worker', 'orig_pred', 'adv_pred', 'iters'],
      dtype='object')
Unnamed: 0                  int64
checking_status           float64
duration                  float64
credit_amount             float64
savings_status            float64
employment                float64
installment_commitment    float64
residence_since           float64
age                       float64
existing_credits          float64
num_dependents            float64
own_telephone             float64
foreign_worker            float64
orig_pred                 float64
adv_pred                  float64
iters                     float64
dtype: object

In [34]:
print(df_orig.columns)
print(df_lowprofool.columns)

Index(['Unnamed: 0', 'checking_status', 'duration', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents',
       'own_telephone', 'foreign_worker', 'target'],
      dtype='object')
Index(['Unnamed: 0', 'checking_status', 'duration', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents',
       'own_telephone', 'foreign_worker', 'orig_pred', 'adv_pred', 'iters'],
      dtype='object')

## IDで各モデルの出力結果を比較する

df_compareのmodel_idについて
- 0: df_orig
- 1: df_lowprofool
- 2: df_deepfool

In [40]:
# model_idの作成
df_orig['model_id'] = 0
df_orig.rename(columns={'target': 'orig_pred'}, inplace=True)
df_orig['adv_pred'] = df_orig['orig_pred']
df_orig['iters'] = 0
df_lowprofool['model_id'] = 1
df_deepfool['model_id'] = 2

df_compare = pd.concat([df_orig, df_lowprofool, df_deepfool], sort=True)
df_compare

,Unnamed: 0,adv_pred,age,checking_status,credit_amount,duration,employment,existing_credits,foreign_worker,installment_commitment,iters,model_id,num_dependents,orig_pred,own_telephone,residence_since,savings_status
0,0,1.0,67.000000,0.000000,1169.000000,6.000000,4.000000,2.000000,0.000000,4.000000,0.0,0,1.000000,1.0,1.000000,4.000000,4.000000
1,1,0.0,22.000000,1.000000,5951.000000,48.000000,2.000000,1.000000,0.000000,2.000000,0.0,0,1.000000,0.0,0.000000,2.000000,0.000000
2,2,1.0,49.000000,3.000000,2096.000000,12.000000,3.000000,1.000000,0.000000,2.000000,0.0,0,2.000000,1.0,0.000000,3.000000,0.000000
3,3,1.0,45.000000,0.000000,7882.000000,42.000000,3.000000,1.000000,0.000000,2.000000,0.0,0,2.000000,1.0,0.000000,4.000000,0.000000
4,4,0.0,53.000000,0.000000,4870.000000,24.000000,2.000000,2.000000,0.000000,3.000000,0.0,0,2.000000,0.0,0.000000,4.000000,0.000000
5,5,1.0,35.000000,3.000000,9055.000000,36.000000,2.000000,1.000000,0.000000,2.000000,0.0,0,2.000000,1.0,1.000000,4.000000,4.000000
6,6,1.0,53.000000,3.000000,2835.000000,24.000000,4.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,1.0,0.000000,4.000000,2.000000
7,7,1.0,35.000000,1.000000,6948.000000,36.000000,2.000000,1.000000,0.000000,2.000000,0.0,0,1.000000,1.0,1.000000,2.000000,0.000000
8,8,1.0,61.000000,3.000000,3059.000000,12.000000,3.000000,1.000000,0.000000,2.000000,0.0,0,1.000000,1.0,0.000000,4.000000,3.000000
9,9,0.0,28.000000,1.000000,5234.000000,30.000000,0.000000,2.000000,0.000000,4.000000,0.0,0,1.000000,0.0,0.000000,2.000000,0.000000
10,10,0.0,25.000000,1.000000,1295.000000,12.000000,1.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,0.0,0.000000,1.000000,0.000000
11,11,0.0,24.000000,0.000000,4308.000000,48.000000,1.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,0.0,0.000000,4.000000,0.000000
12,12,1.0,22.000000,1.000000,1567.000000,12.000000,2.000000,1.000000,0.000000,1.000000,0.0,0,1.000000,1.0,1.000000,1.000000,0.000000
13,13,0.0,60.000000,0.000000,1199.000000,24.000000,4.000000,2.000000,0.000000,4.000000,0.0,0,1.000000,0.0,0.000000,4.000000,0.000000
14,14,1.0,28.000000,0.000000,1403.000000,15.000000,2.000000,1.000000,0.000000,2.000000,0.0,0,1.000000,1.0,0.000000,4.000000,0.000000
15,15,0.0,32.000000,0.000000,1282.000000,24.000000,2.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,0.0,0.000000,2.000000,1.000000
16,16,1.0,53.000000,3.000000,2424.000000,24.000000,4.000000,2.000000,0.000000,4.000000,0.0,0,1.000000,1.0,0.000000,4.000000,4.000000
17,17,1.0,25.000000,0.000000,8072.000000,30.000000,1.000000,3.000000,0.000000,2.000000,0.0,0,1.000000,1.0,0.000000,3.000000,4.000000
18,18,0.0,44.000000,1.000000,12579.000000,24.000000,4.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,0.0,1.000000,2.000000,0.000000
19,19,1.0,31.000000,3.000000,3430.000000,24.000000,4.000000,1.000000,0.000000,3.000000,0.0,0,2.000000,1.0,1.000000,2.000000,2.000000
20,20,1.0,48.000000,3.000000,2134.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.0,0,1.000000,1.0,1.000000,4.000000,0.000000
21,21,1.0,44.000000,0.000000,2647.000000,6.000000,2.000000,1.000000,0.000000,2.000000,0.0,0,2.000000,1.0,0.000000,3.000000,2.000000
22,22,1.0,48.000000,0.000000,2241.000000,10.000000,1.000000,2.000000,1.000000,1.000000,0.0,0,2.000000,1.0,0.000000,3.000000,0.000000
23,23,1.0,44.000000,1.000000,1804.000000,12.000000,1.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,1.0,0.000000,4.000000,1.000000
24,24,1.0,26.000000,3.000000,2069.000000,10.000000,2.000000,2.000000,1.000000,2.000000,0.0,0,1.000000,1.0,0.000000,1.000000,4.000000
25,25,1.0,36.000000,0.000000,1374.000000,6.000000,2.000000,1.000000,0.000000,1.000000,0.0,0,1.000000,1.0,1.000000,2.000000,0.000000
26,26,1.0,39.000000,3.000000,426.000000,6.000000,4.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,1.0,0.000000,4.000000,0.000000
27,27,1.0,42.000000,2.000000,409.000000,12.000000,2.000000,2.000000,0.000000,3.000000,0.0,0,1.000000,1.0,0.000000,3.000000,3.000000
28,28,1.0,34.000000,1.000000,2415.000000,7.000000,2.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,1.0,0.000000,2.000000,0.000000
29,29,0.0,63.000000,0.000000,6836.000000,60.000000,4.000000,2.000000,0.000000,3.000000,0.0,0,1.000000,0.0,1.000000,4.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,990,1.0,37.000000,3.000000,3565.000000,12.000000,1.000000,2.000000,0.000000,2.000000,0.0,0,2.000000,1.0,0.000000,1.000000,4.000000
991,991,1.0,34.000000,3.000000,1569.000000,15.000000,4.000000,1.000000,0.000000,4.000000,0.0,0,2.000000,1.0,0.000000,4.000000,1.000000
992,992,1.0,23.000000,0.000000,1936.000000,18.000000,3.000000,2.000000,0.000000,2.000000,0.0,0,1.000000,1.0,0.000000,4.000000,4.000000
993,993,1.0,30.000000,0.000000,3959.000000,36.000000,0.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,1.0,1.000000,3.000000,0.000000
994,994,1.0,50.000000,3.000000,2390.000000,12.000000,4.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,1.0,1.000000,3.000000,4.000000
995,995,1.0,31.000000,3.000000,1736.000000,12.000000,3.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,1.0,0.000000,4.000000,0.000000
996,996,1.0,40.000000,0.000000,3857.000000,30.000000,2.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,1.0,1.000000,4.000000,0.000000
997,997,1.0,38.000000,3.000000,804.000000,12.000000,4.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,1.0,0.000000,4.000000,0.000000
998,998,0.0,23.000000,0.000000,1845.000000,45.000000,2.000000,1.000000,0.000000,4.000000,0.0,0,1.000000,0.0,1.000000,4.000000,0.000000
999,999,1.0,27.000000,1.000000,4576.000000,45.000000,0.000000,1.000000,0.000000,3.000000,0.0,0,1.000000,1.0,0.000000,4.000000,1.000000
0,685,0.0,0.254585,0.999634,0.355575,0.836907,0.463949,0.240786,0.000000,0.969757,4.0,1,0.821286,1.0,0.988269,1.000000,1.000000
1,727,1.0,0.121531,0.008238,0.099826,0.173175,0.537610,0.096008,0.000000,1.000000,3.0,1,0.000000,0.0,0.262709,1.000000,0.000000
2,30,0.0,0.292616,0.331659,0.096737,0.216172,0.213271,0.170496,0.000000,0.623141,6.0,1,0.168681,1.0,1.000000,0.577431,0.753959
3,376,1.0,0.293174,1.000000,0.133919,0.175577,0.003863,0.323199,0.000000,0.331210,0.0,1,0.000000,0.0,0.000000,0.666983,0.000000
4,66,0.0,0.176497,0.999659,0.101007,0.123107,0.255929,0.065481,0.006703,0.350509,2.0,1,0.153819,1.0,0.000000,0.511435,0.000000
5,965,0.0,0.126533,0.332505,0.075474,0.385666,0.501380,0.057378,0.000000,0.987907,2.0,1,0.155340,1.0,0.038330,0.163628,0.995491
6,963,0.0,0.046574,1.000000,0.022355,0.327215,0.876358,0.380058,0.000000,0.687303,30.0,1,0.000000,1.0,0.769488,0.522952,0.484251
7,61,0.0,0.411343,0.303092,0.088228,0.253233,1.000000,0.178273,0.000000,0.666178,56.0,1,0.000000,1.0,0.489761,1.000000,1.000000
8,282,0.0,0.654296,0.653802,0.122844,0.235086,0.597864,0.000000,0.000000,1.000000,6.0,1,0.000000,1.0,0.000000,1.000000,1.000000
9,268,1.0,0.469607,0.000000,0.475649,0.139862,0.998542,0.005740,1.000000,0.031125,0.0,1,0.148598,0.0,0.939404,0.931146,0.000000
0,685,0.0,0.262740,0.975125,0.375475,0.879393,0.446052,0.038705,0.000000,0.986780,99.0,2,0.996035,1.0,0.991665,0.981940,1.000000
1,727,1.0,0.182435,0.057132,0.115707,0.155961,0.500238,0.298014,0.026440,0.995574,127.0,2,0.000000,0.0,0.034131,1.000000,0.004792
2,30,0.0,0.296226,0.319922,0.153902,0.260838,0.222987,0.050682,0.000000,0.622030,129.0,2,0.034927,1.0,1.000000,0.633288,0.747445
3,376,1.0,0.292002,1.000000,0.132749,0.179333,0.003833,0.324104,0.000000,0.331744,44.0,2,0.000000,0.0,0.000000,0.666956,0.000000
4,66,0.0,0.163118,0.982793,0.090573,0.142387,0.272835,0.002278,0.024286,0.344190,65.0,2,0.011979,1.0,0.000000,0.349125,0.000000
5,965,0.0,0.120980,0.298295,0.053794,0.417379,0.503033,0.020826,0.000000,0.977828,75.0,2,0.013192,1.0,0.022056,0.024188,0.987345
6,963,0.0,0.094322,0.975905,0.001997,0.365848,0.864820,0.347791,0.000000,0.690324,361.0,2,0.000000,1.0,0.835127,0.427380,0.491184
7,61,0.0,0.396298,0.177908,0.089869,0.344552,0.954967,0.255263,0.000000,0.858179,506.0,2,0.000000,1.0,0.847418,1.000000,1.000000
8,282,0.0,0.606227,0.591032,0.104446,0.241583,0.681420,0.000000,0.000000,1.000000,162.0,2,0.000000,1.0,0.000000,1.000000,1.000000
9,268,1.0,0.468534,0.000000,0.472695,0.131047,0.995003,0.000325,1.000000,0.016007,29.0,2,0.007993,0.0,0.990123,0.995309,0.000000

# 敵対的サンプルの特徴量の分布

In [44]:
df_30 = df_compare[df_compare['Unnamed: 0'] == 30]
df_30

,Unnamed: 0,adv_pred,age,checking_status,credit_amount,duration,employment,existing_credits,foreign_worker,installment_commitment,iters,model_id,num_dependents,orig_pred,own_telephone,residence_since,savings_status
30,30,1.0,36.000000,1.000000,1913.000000,18.000000,1.000000,1.000000,0.0,3.000000,0.0,0,1.000000,1.0,1.0,3.000000,3.000000
2,30,0.0,0.292616,0.331659,0.096737,0.216172,0.213271,0.170496,0.0,0.623141,6.0,1,0.168681,1.0,1.0,0.577431,0.753959
2,30,0.0,0.296226,0.319922,0.153902,0.260838,0.222987,0.050682,0.0,0.622030,129.0,2,0.034927,1.0,1.0,0.633288,0.747445